#main{
    display: grid;
    grid-template-columns: 1fr 4fr;

}
body{
    font-family: 'Luxurious Roman', cursive;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
}
.notes {
    cursor: pointer;
}
h1{
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: right;
}
.flexible {
    display: inline-flex;
    margin: 20px; 
    box-sizing: border-box;
    padding: 10px;
}
.dark-theme1{
    background-color: #303030;
    color: #F9F3EC;
}
.dark-theme2 {
    background-color: #1b1c1e;
    color:#F9F3EC;
}
.dark-theme3 {
    color: rgba(255, 255, 255, 0.82);
}

ul {
    list-style-type: square;
}
p{
    white-space: 2px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
textarea{
    border: solid #ee82ee 2px;
    padding-bottom: 150px;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
    margin: 20px;
    width: 95%;
    font-family: inherit;
}

.button{
    background-color: #5394A0;
    color: white;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px;
    padding: 10px;
    font-family: inherit;
    cursor: pointer;
}
#Dark {
    justify-content: right;
    background-color: #4B7171
}
#Cancel{
    background-color: #D9827C;
}
.button:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px
    #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}
aside{
    background-color: bisque;
      height: 100vh; 
     
}
article{
    background-color: #F9F3EC;
    height: 100vh; 
    width: 100%;

}
.grid-container-2{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-button{
    display: flex;
    background-color: transparent;
    border: 0em;
}
footer{
    line-height: 2px;
    position: relative;
    text-align: center;
    bottom: 0px;
}

.light-theme1 {
    background-color: bisque;
    color: black;
} 
.light-theme2 {

    background-color: #F9F3EC;
    color: black;
}
.light-theme3{
    color: black;
}
.header1{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.footer1{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
@media (max-width: 500px)    {
    #main{
        display: inline-block;
    }
    aside{
        display: flex;
        width: 95vw;
        height: fit-content;
    
    }
    
    section{
        display: flex;
        justify-content: center;
    }
    textarea{
        border: solid violet 2px;

        margin: 0%;
    }
    .button{

        margin-left: 0%;
    }
    
    footer{
        display: flex;

        justify-content: center;
        bottom: 5px;
    }}